body {
  margin: 0;
  background-color: #faf1e1;
  text-align: center;
  font-family: Merriweather;
}
#name {
  font-family: Sacramento;
  font-size: 450%;
}
#brand {
  color: #363739;
  margin: 0;
  padding: 20px;
  font-size: 40px;
}

#top {
  background-color: #ffd700;
  margin: 0;
  padding: 0;
}
.bottom {
  position: absolute;
  bottom: 0;
}
.mid {
  background-color: white;
  width: 60vw;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}
#goldprice {
  color: #ffd700;
  font-size: 30px;
  margin: 10px 0;
}
input,
label {
  display: block;
}
.buy {
  margin-top: 40px;
  border: solid #363739;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  padding: 2rem;
}
.buyBtn {
  padding: 5px 50px;
  border: none;
  background-color: #363739;
  color: #ffd700;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
.buyBtn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.balance {
  text-align: center;
}

@media (max-width: 430px) {
  .buy {
    gap: 5px;
  }
  .buyBtn {
    margin-top: 25px;
  }
}
